*{
    margin:0px;
    padding:0px;
}
h1{
    text-align: center;
    font-family: Calibri, sans-serif;
    font-weight: 400;
    height: 60px;
    width:100%;
    background: #03A9F4;
    line-height: 60px;
    color:white;

}
nav {
    width: 220px;
    height: 700px;
    background: #0277BD;
}
nav a {
    text-decoration: none;
    color:white;
    padding: 20px;
    padding-right: 100px;
}
nav ul li{
    list-style-type: none;
    display: block;
    padding: 15px;
    border-bottom: 1px solid #236D7F;
}
nav ul li:hover{
    background: #01579B;
    transition: linear all 0.40s;
    margin-left: 10px;

}
nav ul li:hover {
    color:black;
}

#areaFuncion
{
    background: white;
    width: 84%;
    height: 650px;
    position: relative;
    top:-70px;

}

nav,#areaFuncion
{
    display: inline-block;
    float: left;
}
#areaFuncion h2{
    text-align: center;
    position: relative;

}
#areaFuncion select{
    margin-left: 5%;

}

#areaFuncion table
{
    border: 1px solid black;
    margin-left: 5%;
    margin-top: 1%;
    width: 90%;
}

#areaFuncion table th
{
    background: #0277BD;
    color:white;
}

#areaFuncion table td
{
    border:1px solid black;
}

#areaFuncion table td a {
    color:blue;
    text-decoration: underline;
    cursor: pointer;
}

#areaFuncion form input,#areaFuncion form label,#areaFuncion form select
{
    display: block;
    margin-left: 35%;
    margin-top: 5px;
}

#areaFuncion form
{
    width: 50%;
    border:1px solid black;
    margin-left: 25%;
}

#areaFuncion form h2
{
    display: block;

    background: #0277BD;
    text-align: center;
    color: white;
}